@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer utilities {
  @keyframes toast-progress {
    from {
      width: 100%;
    }

    to {
      width: 0%;
    }
  }

  .animate-toast-progress {
    animation: toast-progress 5s linear forwards;
  }
}