name = "nexus-erp-api"
main = "src/index.ts"
compatibility_date = "2026-02-12"
compatibility_flags = ["nodejs_compat"]

[vars]
NODE_ENV = "production"
DATABASE_URL=postgresql://neondb_owner:npg_5Y3ekovVmdOx@ep-broad-grass-ae6yq0ai-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=supersecretkey_change_me_in_production
LANG=tr

[[routes]]
pattern = "api.nexuserp.onurdrsn.com.tr/*"
zone_name = "onurdrsn.com.tr"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
