name = "nexus-erp-api"
main = "src/index.ts"
compatibility_date = "2026-02-12"
compatibility_flags = ["nodejs_compat"]

[vars]
NODE_ENV = "production"

[[routes]]
pattern = "api.nexus.onurdrsn.com.tr/*"
zone_name = "onurdrsn.com.tr"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1